:root {
  --color-theme: #1098ad;
  --color-accent: #ffa94d;
  --color-error: #ff4d4d;
  --color-grey-0: #fff;
  --color-grey-50: #f9fafb;
  --color-grey-100: #f3f4f6;
  --color-grey-200: #e5e7eb;
  --color-grey-300: #d1d5db;
  --color-grey-400: #9ca3af;
  --color-grey-500: #6b7280;
  --color-grey-600: #4b5563;
  --color-grey-700: #374151;
  --color-grey-800: #1f2937;
  --color-grey-900: #111827;

  --border-radius-tiny: 3px;
  --border-radius-sm: 5px;
  --border-radius-md: 7px;
  --border-radius-lg: 9px;
}

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  min-height: 100vh;
  color: var(--color-grey-200);
  overscroll-behavior-y: none;
  background-color: var(--color-grey-800);
  padding: 3.2rem;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-header {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 2rem;
  background-color: #495057;
  border-radius: 100px;
}

img {
  width: 14rem;
}

.app-header img {
  width: 8rem;
}

.app-header h1 {
  margin-left: 2rem;
  font-size: 4.5rem;
}

h1 {
  font-family: 'Protest Revolution', sans-serif;
  font-size: 5.6rem;
  color: var(--color-error);
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.7rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}
aside {
  font-size: 1.4rem;
}

main {
  max-width: 650px;
}

.start p {
  margin-bottom: 4rem;
  max-width: 600px;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-grey-300);
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-grey-300);
  border-radius: 100px;
}
::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

.btn {
  display: block;
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  border: 2px solid var(--color-grey-600);
  background-color: var(--color-grey-600);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
}

.btn:not([disabled]):hover {
  background-color: var(--color-grey-700);
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-ui {
  float: right;
}

.btn-grp {
  display: flex;
  justify-content: space-between;
}
.btn-restart {
  opacity: 0.5;
}

.btn-restart:hover {
  opacity: 1;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.btn-option.correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-grey-200);
}
.btn-option.wrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-grey-700);
}

.btn-link {
  font-family: inherit;
  color: inherit;
  font-size: 1.4rem;
  border: 0;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: underline;
  outline: none;
}
.answer {
  transform: translateX(2rem);
}
.btn-option.wrong.answer {
  background-color: var(--color-error);
  border: 2px solid var(--color-error);
  color: var(--color-grey-200);
  opacity: 0.5;
}
.finish-screen {
  text-align: center;
}
.result {
  background-color: var(--color-accent);
  color: var(--color-grey-800);
  border-radius: 100px;
  padding: 2rem;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.result.poor {
  background-color: var(--color-error);
  color: var(--color-grey-200);
}
.result.great {
  background-color: var(--color-theme);
  color: var(--color-grey-900);
}

.result span {
  font-size: 2.2rem;
  margin-right: 4px;
}

.level {
  max-width: 650px;
  text-align: center;
}

.level p {
  margin: 2rem 0 0;
  text-align: left;
}

.level figure {
  width: 140px;
  height: 79px;
  margin: auto;
}

.level .btn {
  margin: 6rem auto;
  clear: both;
  float: none;
}

.highscore {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;

  color: var(--color-grey-300);
  font-size: 1.4rem;
}

.timer {
  float: left;
  font-size: 1.8rem;
  color: var(--color-grey-300);
  border: 2px solid var(--color-grey-600);
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
}

.form {
  background-color: var(--color-grey-600--2);
  border-radius: 5px;
  padding: 1.3rem 2rem;
  margin-bottom: 1.4rem;
  display: grid;
  gap: 2rem 2.5rem;
  transition: all 0.5s, transform 1ms;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.7rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.7rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-grey-300);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.chunin {
  background-color: #1f2137;
}
.jonin {
  background-color: #2e301c;
}
.hokage {
  background-color: #27201b;
}
.legendary {
  background-color: #1f2226;
}

.final {
  background-color: #4077bb !important;
}

.congrats {
  margin-bottom: 6rem;
}

.congrats p {
  text-align: center;
}

/* CREDIT: https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* ********** */
/* First counter example */
.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  font-weight: bold;
  margin: 6rem;
}

.counter * {
  font-size: inherit;
  padding: 0.8rem;
}

/* dictionary */
.dictionary__entry a {
  color: var(--color-theme);
}
.dictionary__entry p {
  margin-bottom: 0;
}

.phonetics {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.word__audio {
  height: 3rem;
}
.word__meanings {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  padding: 2.6rem 0 4rem;
}

.word__partOfSpeech {
  font-style: italic;
  font-weight: 600;
  display: inline-block;
  margin-right: 0.5rem;
}
.word__etc {
  font-size: 1.2rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.word__etc > div {
  display: flex;
  gap: 0.2rem 0.6rem;
  flex-wrap: wrap;
}
.word__etc > div > * {
  display: inline-block;
}

.word__sources {
  border-top: 1px solid var(--color-grey-600);
  padding-top: 3rem;
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
}
.word__sources a {
  display: block;
}

/* modal */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-grey-900);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

.modal {
  position: fixed;
  width: 100vw;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-grey-800);
  padding: 6rem 4rem;
  transition: all 0.5s;
}

.modal h3 {
  margin-bottom: 2rem;
}

.modal p {
  font-size: 1.6rem;
}
.modal .btn-grp {
  width: 100%;
  justify-content: space-between;
}
.btn-close {
  background: none;
  border: none;
  padding: 0.4rem;
  border-radius: var(--border-radius-sm);
  transform: translateX(0.8rem);
  transition: all 0.2s;
  position: absolute;
  top: 1.2rem;
  right: 1.9rem;
}
.btn-close:hover {
  background-color: var(--color-grey-300);
}

.btn-close svg {
  width: 2.4rem;
  height: 2.4rem;
  /* Sometimes we need both */
  /* fill: var(--color-grey-500);
    stroke: var(--color-grey-500); */
  color: var(--color-grey-500);
}

.btn-close-modal {
  margin: 6rem auto 0;
}
.btn-back {
  margin-top: 6rem;
  opacity: 0.5;
}
.btn-back:hover {
  opacity: 1;
}

footer {
  margin-top: 6rem;
}

.footer-links {
  display: flex;
  gap: 2rem;
}

.footer-links .btn-link {
  color: var(--color-theme);
}
.footer-links .btn-link:hover {
  color: var(--color-accent);
}

@media (min-width: 768px) {
  .app-header img {
    width: 14rem;
  }

  .app-header h1 {
    margin-left: 3rem;
    font-size: 5.6rem;
  }

  .options {
    gap: 1.2rem;
  }

  .modal {
    border-radius: var(--border-radius-lg);
    box-shadow: var(--shadow-lg);
    width: auto;
    height: auto;
    padding: 3.2rem 4rem;
  }
}
